body {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.tcp-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tcp-main {
  width: 100%;
  max-width: 1280px;
}

.tcp-route__container {
  display: flex;
}

.tcp-srArrow {
  width: 16px;
  height: 16px;
}

.tcp-route--gray {
  color: #6c757d;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.tcp-route--active {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.tcp-sectionImage {
  width: 100%;
  max-width: 1280px;
  height: 205px;
  margin: 0 auto 2rem auto;
  background: url(https://d3okvk28mv0bs6.cloudfront.net/uploads/78192d0e-3903-4bb9-9971-e4f36e4419f3/original/computadores_y_tablets_desktop_Banners_Mun.jpg)
    center/cover no-repeat;
}

.tcp-header {
  width: 100%;
}

.tcp-footer {
  width: 100%;
  margin-top: 8rem;
}

.tcp-productS {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  gap: 2rem;
}

.tcp-productS__aside {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.tcp-productS__aside__filter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tcp__filter__accordion {
  width: 100%;
}

.tcp-accordion__title {
  display: flex;
  padding: 15px 16px 0px 16px;
  align-items: flex-start;
  border-bottom: solid 1px #43d87e;
  background-color: #f1f3f4;
}

.tcp-accordion__title--font {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}

.tcp-accordion__item {
  background-color: #f1f3f4;
  border-bottom: solid 1px #43d87e;
}

.tcp-productS__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.tcp-productS__main__imgGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
  overflow-x: auto;
}

.tcp-productS__main__imgGallery--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}

.tcp-productS__main__imgGallery--container__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 140px;
  background: var(--color-spring-green-55, #43d87e);
  width: 7rem;
  height: 7rem;
  margin-bottom: 1rem;
}

.tcp-productS__main__imgGallery--container__img--img {
  width: 80%;
  height: auto;
}

.tcp-productS__main__imgGallery--container__text {
  text-align: center;
  width: 100%;
}

.tcp-products__search {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1rem;
}

.tc-products__search-wrapper {
  display: flex;
  width: 100%;
}

.tcp-productS__main__search {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.tcp-products__gallery {
  display: block;
  width: 100%;
}

.tcp-products__gallery--cards {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.tcp-products__gallery--more {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/* ICONOS Y GALERÍA RESPONSIVE */
@media (max-width: 1080px) {
  .tcp-productS__main__imgGallery--container__img {
    width: 8rem;
    height: 8rem;
  }
}

@media (max-width: 768px) {
  .tcp-productS {
    flex-direction: column;
  }

  .tcp-productS__aside,
  .tcp-productS__main {
    width: 100%;
    padding: 0.5rem;
  }

  .tcp-productS__main__imgGallery {
    justify-content: center;
  }

  .tcp-productS__main__imgGallery--container__img {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 420px) {
  .tcp-route__container {
    padding: 1rem;
  }

  .tcp-productS__main__imgGallery {
    display: none;
  }

  .tcp-products__gallery--cards,
  #product-gallery {
    grid-template-columns: repeat(
      justify-content,
      minmax(1fr, 1fr)
    ); /* CORRECCIÓN */
    grid-gap: 6px;
    padding: 4px;
  }

  .tcp-productS__main__imgGallery {
    justify-content: center;
    flex-wrap: wrap;
  }

  .tcp-productS__main__imgGallery--container {
    flex: 0 0 48%;
    margin-bottom: 1rem;
  }

  .tcp-productS__main__imgGallery--container__img {
    width: 4rem;
    height: 4rem;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
