@mixin tablet() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin hover-transition-card(
  $property: all,
  $duration: 1.8s,
  $timing: ease-in-out
) {
  transition: $property $duration $timing;
  &:hover {
    @content;
  }
}
@mixin hover-transition-btn($property: all, $duration: 0.1s, $timing: ease) {
  transition: $property $duration $timing;
  &:hover {
    @content;
  }
}
