@use "../abstracts/variables";
@use "../abstracts/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$tc-font-family-base, sans-serif;
  line-height: 1.6;
}

.tc-main {
  scroll-behavior: smooth;
}

.tc-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tc-offers {
  gap: 1rem;
  margin-bottom: 1rem;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.tc-carousel__indicators {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
}
