@use "../abstracts/variables";
@use "../abstracts/mixins";

.tc-productCard {
  height: 100%;
  width: 15.625rem;
  background: variables.$tc-color-card-bg;
  border-radius: variables.$tc-product-card-radius;
  font-family: variables.$tc-font-family-base;
  box-shadow: variables.$tc-box-shadow-light;

  @include flex-center-column;
  @include hover-transition-card(background, 1s) {
    box-shadow: variables.$tc-box-shadow-medium;
  }

  &__img {
    height: 14rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    background: transparent;
    display: block;
    margin: 0 auto;

    &-wrapper {
      position: relative;
      background: variables.$tc-color-card-bg;
      overflow: hidden;
      min-height: 11rem;

      @include flex-center;
    }
  }

  &__discount {
    font-weight: 800;
    background: $tc-color-badge-promo;
    color: variables.$tc-color-blue-dark;
    font-size: variables.$tc-font-size-xs;
    padding: variables.$tc-spacing-xs variables.$tc-spacing-sm;
    border-radius: variables.$tc-border-radius-sm;
    z-index: 2;
  }

  &__body {
    padding: variables.$tc-spacing-xs;
    @include flex-between;

    &--title {
      font-weight: 600;
      font-size: variables.$tc-font-size-title;
      color: variables.$tc-color-primary;
      margin-bottom: variables.$tc-spacing-xs;
      padding-top: variables.$tc-spacing-md;
    }
  }

  &__subtitle {
    font-size: variables.$tc-font-size-sm;
    color: variables.$tc-color-price-old;
    margin-bottom: variables.$tc-spacing-xs;

    &-wrapper {
      @include flex-between;
      width: 100%;
      flex-shrink: 1;
    }
  }

  &__prices {
    margin-bottom: variables.$tc-spacing-sm;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: variables.$tc-spacing-xs;
  }

  &__price-old {
    color: variables.$tc-color-price-old;
    text-decoration: line-through;
    font-size: variables.$tc-font-size-sm;
    margin-right: variables.$tc-spacing-xs;
  }

  &__price {
    color: $tc-color-price-promo;
    font-size: $tc-font-size-price;
    font-weight: 700;
    margin-right: $tc-spacing-xs;
  }

  &__price-other {
    color: $tc-color-price-old;
    font-size: 0.9rem;
    margin-top: 0.1rem;
  }
}
